{% extends 'blank.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %} " />
{% endblock %} {% block title %}
<title>Infinity Fashion|checkout</title>
{% endblock %} {% block content_block %}
<main>
  <div class="container-fluid">
    <div class="min-height-80 checkout-main">
      <div class="sa-container">
        <h3 class="sa-card-header">Order Summary</h3>
        <div class="sa-card">
          <h3 class="sa-card-subheader">Delivery Info</h3>
          <div class="sa-address">{{ address.address }}</div>
          <div class="sa-misc" style="display: flex; flex-direction: column;">
            <div class="sa-misc-info"><strong>Town: </strong><span>{{ address.town }}</span></div>
            <div class="sa-misc-info"><strong>Estate/Apt: </strong><span>{{ address.estate }}</span></div>
            <div class="sa-misc-info"><strong>Hse/Apt No: </strong><span >{{ address.apartment }}</span></div>
          </div>
        </div>
        <div class="bill-card">
          <h3 class="sa-card-subheader">BILLING DETAILS</h3>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between">
                <span>Items</span><span data-bag-totalitems>{{ order.total_quant }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Bag Total</span><strong>Kes <span data-bag-totalprice> {{ bag_total }} </span></strong>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Delivery Fees</span><span>Kes <span id="shipping-cost">{{ shipping_cost }}</span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span><strong>Total Amount</strong></span>
                <strong>Kes <span id="payable_amount">{{ order.total_price }}</span></strong>
              </li>
            </ul>
          </div>
        </div>
        <div class="pay-btn-container">
          <button class="btn btn-dark" id="pay-btn" onclick="finishOrder()">Finish</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    function finishOrder(){
      location.replace('/shop/clothes/')
      window.alert('Your Has Been Placed')
      
    }
  </script>
</main>
{% endblock %}
{% block bottom_scripts %}
<script>
  var options = {

    {% if user.is_authenticated %}
  "prefill": {
    "name": "{{ user.get_full_name }}",
      "email": "{{ user.email }}",
        "contact": "{{ user.phno }}"
  }
  {% endif %}
};

  {% endblock %}