{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/pdlist.css' %} ">
{% endblock %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block content_block %}
<main>
  <div class="container-fluid">
    <div style="width: 100%;height: 50px;"></div>
    <div style="width: 100%;height: 50px;"><i class="bi bi-funnel"></i>FILTER</div>
    <div class="results-container d-flex">
      <div class="results-left-container ">
        <div class="filter">
          <form action="" method="get">
            <section class="filter-section filter-category">
              <h6 class="filter-title">category</h6>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="catshirts" name="category">
                <label class="form-check-label" for="catshirts">Shirts</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="cattshirts" name="category">
                <label class="form-check-label" for="cattshirts">T-Shirts</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="catsweatshirts" name="category">
                <label class="form-check-label" for="catsweatshirts">Sweatshirts</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="catjackets" name="category">
                <label class="form-check-label" for="catjackets">Jackets</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="cattanktops" name="category">
                <label class="form-check-label" for="cattanktops">Tanktops</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="6" id="catblazers" name="category">
                <label class="form-check-label" for="catblazers">Blazers</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="7" id="catdress" name="category">
                <label class="form-check-label" for="catdress">Dress</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="8" id="catjeans" name="category">
                <label class="form-check-label" for="catjeans">Jeans</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="9" id="catshorts" name="category">
                <label class="form-check-label" for="catshorts">Shorts</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="10" id="cattrkpants" name="category">
                <label class="form-check-label" for="cattrkpants">Track Pants</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="11" id="cattrousers" name="category">
                <label class="form-check-label" for="cattrousers">Trousers</label>
              </div>
        
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="14" id="catlingerie" name="category">
                <label class="form-check-label" for="catlingerie">Lingerie</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="12" id="catwatches" name="category">
                <label class="form-check-label" for="catwatches">Watches</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="13" id="catbags" name="category">
                <label class="form-check-label" for="catbags">Bags</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="17" id="catboots" name="category">
                <label class="form-check-label" for="catboots">Boots</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="15" id="catheels" name="category">
                <label class="form-check-label" for="catheels">Heels</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="18" id="catsandals" name="category">
                <label class="form-check-label" for="catsandals">Sandals</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="16" id="catsneakers" name="category">
                <label class="form-check-label" for="catsneakers">Sneakers</label>
              </div>
            </section>
            <section class="filter-section filter-brand">
              <h6 class="filter-title">Brand</h6>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="adidas" id="adidas" name='brand'>
                <label class="form-check-label" for="adidas">Adidas</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="burberry" id="burberry" name='brand'>
                <label class="form-check-label" for="burberry">Burberry</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="chanel" id="chanel" name='brand'>
                <label class="form-check-label" for="chanel">Chanel</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="dior" id="dior" name='brand'>
                <label class="form-check-label" for="dior">Dior</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="fendi" id="fendi" name='brand'>
                <label class="form-check-label" for="fendi">Fendi</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="louis vuitton" id="louis vuitton" name='brand'>
                <label class="form-check-label" for="louis vuitton">Louis Vuitton</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="nike" id="nike" name='brand'>
                <label class="form-check-label" for="nike">Nike</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="prada" id="prada" name='brand'>
                <label class="form-check-label" for="prada">Prada</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="versace" id="versace" name='brand'>
                <label class="form-check-label" for="versace">Versace</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="zara" id="zara" name='brand'>
                <label class="form-check-label" for="zara">Zara</label>
              </div>
            </section>
            <section class="filter-section">
              <h6 class="filter-title">Price</h6>
              <div slider id="slider-distance">
                <div>
                  <div inverse-left style="width:70%;"></div>
                  <div inverse-right style="width:70%;"></div>
                  <div range style="left:0%;right:0%;"></div>
                  <span thumb style="left:0%;"></span>
                  <span thumb style="left:100%;"></span>
                  <div sign style="left:0%;">
                    <span id="value">800</span>
                  </div>
                  <div sign style="left:100%;">
                    <span id="value">10000</span>
                  </div>
                </div>
                <input type="range" value="200" max="10000" min="200" step="1" name="price_down" oninput="
                  this.value=Math.min(this.value,this.parentNode.childNodes[5].value-1);
                  let value = (this.value/parseInt(this.max))*100
                  var children = this.parentNode.childNodes[1].childNodes;
                  children[1].style.width=value+'%';
                  children[5].style.left=value+'%';
                  children[7].style.left=value+'%';children[11].style.left=value+'%';
                  children[11].childNodes[1].innerHTML=this.value;" />

                <input type="range" value="4999" max="4999" min="200" step="1" name="price_up" oninput="
                  this.value=Math.max(this.value,this.parentNode.childNodes[3].value-(-1));
                  let value = (this.value/parseInt(this.max))*100
                  var children = this.parentNode.childNodes[1].childNodes;
                  children[3].style.width=(100-value)+'%';
                  children[5].style.right=(100-value)+'%';
                  children[9].style.left=value+'%';children[13].style.left=value+'%';
                  children[13].childNodes[1].innerHTML=this.value;" />
              </div>
            </section>
            <section class="filter-section filter-btns-container">
              <button type="reset" class="btn btn-dark filter-btns">Reset</button>
              <button type="submit" class="btn btn-dark filter-btns">Apply</button>
            </section>
          </form>
        </div>
      </div>
      <div class="results-right-container">
        <div class="results row">
          {% for product in page_obj %}
          <div class="col col-6 col-sm-6 col-md-4 col-xl-3">
            <div class="product">
              <a href=" {% url 'products:shop_product' uqid=product.uqid %} ">
                <div class="product-img">
                  <img src="{{ product.img1.url }}" alt="{{ product.name }}">
                </div>
                <div class="product-description">
                  <div class="pd-name">{{ product.name }}</div>
                  <div class="pd-price">Kes.&nbsp;{{ product.price }}</div>
                </div>
              </a>
            </div>
          </div>
          {% empty %}
          <div class="center-div">Oops! No match found :(</div>
          {% endfor %}
        </div>
      </div>

</main>
<div class="text-center container mt-5">
  {% if page_obj.has_previous %}
  <a class="poppins-font p-2" href="?page={{page_obj.previous_page_number}}">previous</a>
  {% endif %}

  <a class="p-2 active-btn poppins-font text-dark" style="background-color:hotpink;">{{page_obj.number}}</a>

  {% if page_obj.has_next %}
  <a class="p-2 poppins-font" href="?page={{ page_obj.next_page_number }}">next</a>
  {% endif %}

</div>

<div class="filter-mobile-btn-cont">
  <!-- <i class="bi bi-funnel"></i> -->
  <button class="btn btn-dark filter-mobile-btn" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasfilter" aria-controls="offcanvasfilter">Filter
  </button>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasfilter" aria-labelledby="Filter">
  <div class="offcanvas-header off">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">FILTER</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="filter">
      <form action="" method="get">
        <section class="filter-section filter-category">
          <h6 class="filter-title">category</h6>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="1" id="catshirts" name="category">
            <label class="form-check-label" for="catshirts">Shirts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="2" id="cattshirts" name="category">
            <label class="form-check-label" for="cattshirts">T-Shirts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="3" id="catsweatshirts" name="category">
            <label class="form-check-label" for="catsweatshirts">Sweatshirts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="4" id="catjackets" name="category">
            <label class="form-check-label" for="catjackets">Jackets</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="5" id="cattanktops" name="category">
            <label class="form-check-label" for="cattanktops">Tanktops</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="6" id="catblazers" name="category">
            <label class="form-check-label" for="catblazers">Blazers</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="7" id="catdress" name="category">
            <label class="form-check-label" for="catdress">Dress</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="8" id="catjeans" name="category">
            <label class="form-check-label" for="catjeans">Jeans</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="9" id="catshorts" name="category">
            <label class="form-check-label" for="catshorts">Shorts</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="10" id="cattrkpants" name="category">
            <label class="form-check-label" for="cattrkpants">Track Pants</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="11" id="cattrousers" name="category">
            <label class="form-check-label" for="cattrousers">Trousers</label>
          </div>
    
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="14" id="catlingerie" name="category">
            <label class="form-check-label" for="catlingerie">Lingerie</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="12" id="catwatches" name="category">
            <label class="form-check-label" for="catwatches">Watches</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="13" id="catbags" name="category">
            <label class="form-check-label" for="catbags">Bags</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="17" id="catboots" name="category">
            <label class="form-check-label" for="catboots">Boots</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="15" id="catheels" name="category">
            <label class="form-check-label" for="catheels">Heels</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="18" id="catsandals" name="category">
            <label class="form-check-label" for="catsandals">Sandals</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="16" id="catsneakers" name="category">
            <label class="form-check-label" for="catsneakers">Sneakers</label>
          </div>
        </section>
        <section class="filter-section filter-brand">
          <h6 class="filter-title">Brand</h6>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="adidas" id="adidas" name='brand'>
            <label class="form-check-label" for="adidas">Adidas</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="burberry" id="burberry" name='brand'>
            <label class="form-check-label" for="burberry">Burberry</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="chanel" id="chanel" name='brand'>
            <label class="form-check-label" for="chanel">Chanel</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="dior" id="dior" name='brand'>
            <label class="form-check-label" for="dior">Dior</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="fendi" id="fendi" name='brand'>
            <label class="form-check-label" for="fendi">Fendi</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="louis vuitton" id="louis vuitton" name='brand'>
            <label class="form-check-label" for="louis vuitton">Louis Vuitton</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="nike" id="nike" name='brand'>
            <label class="form-check-label" for="nike">Nike</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="prada" id="prada" name='brand'>
            <label class="form-check-label" for="prada">Prada</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="versace" id="versace" name='brand'>
            <label class="form-check-label" for="versace">Versace</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="zara" id="zara" name='brand'>
            <label class="form-check-label" for="zara">Zara</label>
          </div>
        </section>
        <section class="filter-section">
          <h6 class="filter-title">Price</h6>
          <div slider id="slider-distance">
            <div>
              <div inverse-left style="width:70%;"></div>
              <div inverse-right style="width:70%;"></div>
              <div range style="left:0%;right:0%;"></div>
              <span thumb style="left:0%;"></span>
              <span thumb style="left:100%;"></span>
              <div sign style="left:0%;">
                <span id="value">500</span>
              </div>
              <div sign style="left:100%;">
                <span id="value">10000</span>
              </div>
            </div>
            <input type="range" value="200" max="4999" min="200" step="1" name="price_down" oninput="
              this.value=Math.min(this.value,this.parentNode.childNodes[5].value-1);
              let value = (this.value/parseInt(this.max))*100
              var children = this.parentNode.childNodes[1].childNodes;
              children[1].style.width=value+'%';
              children[5].style.left=value+'%';
              children[7].style.left=value+'%';children[11].style.left=value+'%';
              children[11].childNodes[1].innerHTML=this.value;" />

            <input type="range" value="4999" max="4999" min="200" step="1" name="price_up" oninput="
              this.value=Math.max(this.value,this.parentNode.childNodes[3].value-(-1));
              let value = (this.value/parseInt(this.max))*100
              var children = this.parentNode.childNodes[1].childNodes;
              children[3].style.width=(100-value)+'%';
              children[5].style.right=(100-value)+'%';
              children[9].style.left=value+'%';children[13].style.left=value+'%';
              children[13].childNodes[1].innerHTML=this.value;" />
          </div>
        </section>
        <section class="filter-section filter-btns-container">
          <button type="reset" class="btn btn-dark filter-btns">Reset</button>
          <button type="submit" class="btn btn-dark filter-btns">Apply</button>
        </section>
      </form>
    </div>
  </div>
</div>
{% endblock %}
